* {
    margin: 0;
    padding: 0;
}

.start {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 1rem auto;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    column-gap: 2rem;
}

.menu a {
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 1rem;
}

.cover {
    background-image: url('./img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    border-bottom: .4rem solid rgb(250, 45, 45);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 0;
}

.foodCollection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    column-gap: 3rem;
}

.foodCollection img {
    width: 300px;
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    background-color: rgb(56, 56, 56);
    color: white;
}

.text img {
    width: 70px;
    padding: .3rem;
}