* {
    margin: 0;
    padding: 0;
}


.cover {
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0 0, 100% 0, 100% 54%, 52% 69%, 0 55%);
   
}
.cover img{
    width: 100%;
}

.cover p {
    color: rgb(255, 255, 255);
    font-size: 60px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 60px;
}