* {
    margin: 0;
    padding: 0;
}

.header {
    background-image: url('./slike/Nikola\ Timotic\ -\ banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.5rem;
    /* padding: 3rem 0; */
    height: 50vh;
    z-index: 0;
}

.filter {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #00000088;
}

/* .header::after {
    content: '';
} */

.header h1 {
    font-size: 2rem;
    color: #fff;
}

.header p {
    width: 50%;
    text-align: center;
    color: #fff;
    line-height: 1.2;
}

.btnBlue, .btnWhite {
    background-color:rgb(11, 153, 241);
    color: #fff;
    padding: 1rem 2rem;
    width: fit-content;
    text-decoration: none;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
}

.picture_text_section, .text_picture_section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    width: 80%;
    margin: auto;
}

.background {
    background-color: rgb(11, 153, 241);
}

.text_picture_section {
    flex-direction: row-reverse;
}

.picture img {
    border-radius: 50%;
    border: 1px solid #888;
    padding: .5rem;
    margin: 0 2rem;
}

.text {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.text_picture_section .text {
    color: #fff;
}

.text_picture_section .picture img {
    border-color: #fff;
}

.btnWhite {
    background-color: #fff;
    color: rgb(11, 153, 241);
}

/* poslednjaSekcija */

footer {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    padding: 2rem 0;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.social div {
    border-radius: 50%;
    border: 10px solid #888;
}

/* velicinaIkonica */

footer p {
    text-align: center;
}